@using ViewModel
@model RickAndMortyViewModel

<div class="container d-flex flex-wrap">
@foreach (var item in Model.Results)
{

    <div style="margin: 30px;" class="card" style="width: 18rem;">
    <img src='@item.Image' class="card-img-top" alt="..." style="width: 250px; height: 250px;">
    <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <h5 class="card-title">@item.Type</h5>
        <h5 class="card-title">@item.Gender</h5>
        <p class="card-text">@item.Status</p>
        <p class="card-text">@item.Location.Name</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>

}
</div>
